@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --neon-bg: #0b0f17;
  --neon-cyan: #00f0ff;
  --neon-purple: #a855f7;
  --neon-text: #e5f9ff;
  --neon-yellow: #ffd400;
}

html, body {
  height: 100%;
}

body {
  background: var(--neon-bg);
  color: var(--neon-text);
}
